/* Center the form on desktop */
#vat-calculator-form {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 30px;
  border-radius: 10px 10px 0 0; 
}

#vat-calculator-form label {
  display: block;
  margin-bottom: 10px; 
  font-weight: bold;
}

#vat-calculator-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#vat-calculator-form input:focus {
  border: 2px solid rgb(88, 88, 202);
  border-radius: 5px;
}

#vat-rate {
  padding: 11px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 5px;
}
#vat-rate:focus {
  border: 2px solid rgb(88, 88, 202);
  border-radius: 5px;
} 

#vat-calculator-form input[type="submit"] {
  background-color: rgb(128, 128, 232);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}


#vat-calculator-form input[type="submit"]:hover {
  background-color: rgb(88, 88, 202);
}

.reset-button {
  color: #fff;
  cursor: pointer;
  width: 100%;
  outline: none;
  background-color: #e77998;
}
.reset-button:hover {
  background-color: rgb(247, 61, 61);
  color: #fff;
}

.reset-button:focus {
  border: 2px solid #e77998!important;
  border-radius: 5px;
}



#results {
  width: 400px;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px; 
  display: flex;
  margin: auto;
}

#results p {
  margin: 10px 0;
  font-weight: bold;
  color: rgb(88, 88, 202);
  text-align: center;
  display: flex;
  margin: auto;
}

#results span {
  font-weight: normal;
}

/* Add media queries for responsive styles */
@media screen and (max-width: 768px) {
  #vat-calculator-form {
      width: 80%;
      margin: 0 auto; 
      padding: 20px; 
      margin-top: 20px;
      border-radius: 10px 10px 0 0; 
  }
  #vat-calculator-form input {
      width: 100%; 
  }
  #results {
      width: 80%;
      padding: 20px; 
      margin-top: 0px;
      border-radius: 0 0 10px 10px; 
  }
  #vat-rate {
    padding: 11px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  #vat-rate:focus{
    border: 2px solid rgb(88, 88, 202);
    border-radius: 5px;
  }
}
